/* RESET  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
    /* debug for eyes */
    background-color: rgb(180, 180, 177);
}

/* I breakepoint sono:
- tablet: 768px
- desktop: 992px
- large desktop: 1200px */

/* COMMONS */

:root {
    --mainblu: #0084FD;
    --secondblu:#B5DDFF;
    --maincolor:#9792E4;
    --freecolor:#FDC15F;
    --footercolor:#333333;
}

ul {
    list-style-type: none;
    
}

a {
    color: white;
    text-decoration: none;
}

img {
    max-width: 100%;
}

.main-container {
    width: 70%;
    max-width: 1200px;
    margin: 0 auto;
}

.bot-container {
    width: 50%;
    max-width: 1200px;
    margin: 0 auto;
    /* debug */
    border: 1px solid red;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

/* ################################################################################# */

/* HEADER  */

header {
    width: 100%;
    background-color: var(--mainblu);
    height: 60px;
    position: fixed;
    z-index: 999;
    color: white;
}

header .long-menu {
    display: none;
}

/* #################################################################################### */

/* MAIN */


/* FIRST SECTION */

.feature {
    padding: 100px 0 20px 0;
}


.row div {
    width: 100%;
    height: 100px;
    margin: 20px 0;
    /* debug */
    border: 1px solid green;
}

.row .big-col {
    height: 200px;
}


/* SECOND SECTION  */

.planning {
    background-color: var(--maincolor);
    padding: 30px 0;
}

.planning .card-a,
.planning .card-b  {
    /* debug */
    border: 1px solid red;
    width: 100%;
    height: 200px;
    margin: 20px 0;
}

/* THIRD SECTION, PARTNERS, BACKGROUD WHITE */

.testimonial .partners {
    /* debug */
    width: 100%;
    height: 100px;
    border: 1px solid blue;
    margin: 30px 0;
}

/* FOURTH SECTION, BENEFITS , BACKGROUND COLOR VIOLET */

.benefit {
    background-color: var(--maincolor);
    padding: 30px 0;
}

.benefit .col {
    width: 100%;
    height: 200px;
}

/* FIFTH SECTION, ABOUT US */

.about {
    margin: 20px 0;
}

.about .card-a {
    width: 100%;
    height: 200px;
    /* debug */
    border: 1px solid black;
    margin-bottom: 20px;
}

.about .card-b {
    width: 100%;
    height: 100px;
    /* debug */
    border: 1px solid black;
}


/* SIXTH SECTION, TRY FREE */

.try {
    background-color: var(--maincolor);
    padding: 20px 0;
}

.try .last {
    width: 100%;
    height: 200px;
    /* debug */
    border: 1px solid orange;
}


/* FOOTER  */

footer {
    background-color: var(--footercolor);
    width: 100%;
    height: 150px;
    /* margin: 10px 0; */
    /* padding: 10px 0; */
}

footer .top-footer,
footer .bot-footer {
    border: 1px solid white;
    width: 100%;
    height: 70px;
    margin-bottom: 10px;
    
}



/* ###################################################################################### */

/* RESPONSIVE FOR DISPLAY >= 768px */

@media screen and (min-width:768px) {

       /* FIRST SECTION */

    .row .big-col {
        width: calc((100% / 3 * 2) - 5px);
        height: 200px;
    }

    .row .second-col{
        width: calc(100% / 3 - 5px);
        height: 200px;
    }

    .row div {
        width: calc(100% / 3 - 7px);
        height: 200px;
    }


    .row {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        padding-right: 0;
    }


            /* THIRD SECTION */

    .testimonial .partners {
        /* debug */
        width: 100%;
        height: 200px;
        border: 1px solid blue;
        margin: 30px 0;
    }

            /* FOURTH SECTION */
    
    .benefit .col {
        width: calc(100% / 2 - 10px);
    }

    .benefit .row {
        display: flex;
        flex-wrap: wrap;
    
    }

            /* FIFTH SECTION, ABOUT US */

    .about .main-container {
        display: flex;
        gap: 15px;
    }


            /* SIXTH SECTION, TRY FREE */
        
    .try .last {
        width: 80%;
        margin: 0 auto;
    }

            /* FOOTER SECTION */
     
    footer .bot-container {
        width: 30%;
    }        

}


/* ###################################################################################### */



/* RESPONSIVE FOR DISPLAY >= 992px  */

@media screen and (min-width:992px) {

    /* HEADER */
    header .menu {
        display: none;
    }

    header .long-menu {
        display: inline-block;
    }

    .long-menu li {
        display: inline-block;
        margin-left: 20px;
    }

    .long-menu #start {
        color: black;
        padding: .5em 1em;
        background-color: white;
        border-radius: 4em / 4em;
    }


    /* SECOND SECTION,BACKGROUND VIOLET  */
    .planning .main-container {
        display: flex;
    }

    /* FOURTH SECTION  */

    .benefit .col {
        width: calc(100% / 3 - 10px);
    }


    /* SIXTH SECTION, TRY FREE */
        
    .try .last {
        width: 50%;
        margin: 0 auto;
    }

}



/* ########################################################################################### */


/* RESPONSIVE FOR DISPLAY >= 1200px  */

@media screen and (min-width:1200px) {

}
