/* RESET  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
    /* debug for eyes */
    background-color: rgb(180, 180, 177);
}

/* I breakepoint sono:
- tablet: 768px
- desktop: 992px
- large desktop: 1200px */

/* COMMONS */

:root {
    --mainblu: #0084FD;
    --secondblu:#B5DDFF;
    --maincolor:#9792E4;
    --freecolor:#FDC15F;
    --footercolor:#333333;
}

ul {
    list-style-type: none;
    
}

a {
    color: white;
    text-decoration: none;
}

img {
    max-width: 100%;
}

h3 {
    font-size: 1rem;
}

p{
    font-size: .8em;
}

.main-container {
    width: 70%;
    max-width: 1200px;
    margin: 0 auto;
}

.bot-container {
    width: 50%;
    max-width: 1200px;
    margin: 0 auto;
    /* debug */
    /* border: 1px solid red; */
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

/* ################################################################################# */

/* HEADER  */

header {
    width: 100%;
    background-color: var(--mainblu);
    height: 60px;
    position: fixed;
    z-index: 999;
    color: white;
}

header .long-menu {
    display: none;
}

/* #################################################################################### */

/* MAIN */


/* FIRST SECTION */

.feature {
    padding: 100px 0 20px 0;
}


.row > div {
    width: 100%;
    margin: 20px 0;
    background-color: var(--secondblu);
    border-radius: 1em;
    /* debug */
    /* border: 1px solid green; */
}


.big-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.description{
    max-width: 100%;
    text-align: center;
    margin-bottom: 40px;
    
}

.col h3 {
    color: var(--mainblu);
}


.description h3,
.description p,
.description a {
    padding: 10px 10px;
    margin-bottom: 10px;
}

.feature a{
    padding: .5em 1em;
    background-color: var(--mainblu);
    border-radius: 2em;
    
}

.col .phone {
    width: 80%;
    max-width: 200px;    
}

.col .phone img {
    display: block;
}

.row .col:not(:first-child) i {
    font-size: 3rem;
    color: var(--mainblu);
}

.row .col:not(:first-child){
    text-align: center;
    padding: 20px 0;
}

.feature .row .col h3{
    font-size: 1.6rem;
    margin-bottom: 10px;
}



/* SECOND SECTION  */

.planning {
    background-color: var(--maincolor);
    padding: 30px 0;
    
}

.planning .card-a,
.planning .card-b  {
    margin: 20px 0;
    width: 70%;
    /* debug */
    /* border: 1px solid red; */
    /* height: 200px; */
}

.planning .card-a h3, .planning .card-a p {
    margin: 20px 0;
    color: white;
}

.planning .card-b {
    background-color: white;
    border-radius: 15px;
}

.planning .card-b a {
    background-color: var(--maincolor);
    display: block;
    width: 40px;
    height: 40px;
    margin: 10px auto;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
          
}

.planning img {
    max-width: 80%;
}


.planning .card-a,
.planning .card-b {
    margin: 0 auto;
    width: 70%;
}

.planning .card-b i{
    color: black;    
}




/* THIRD SECTION, PARTNERS, BACKGROUD WHITE */

.testimonial #head-testimonial {
    margin: 10px 0;
    text-align: center;
}

.testimonial #head-testimonial > * {
    margin: 10px 0;
}

.testimonial #head-testimonial > h3 {
    color: var(--maincolor);
}

.testimonial .partners {
    width: 100%;
    margin: 30px 0;
    padding: 10px 10px;
    background-color: var(--maincolor);
    border-radius: 20px;
    /* debug */
    /* height: 100px; */
    /* border: 1px solid blue; */
}

.testimonial .testimon {
    text-align: center;
}

.testimonial .partners p{
    color: white;
}

.testimonial img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    
}

/* FOURTH SECTION, BENEFITS , BACKGROUND COLOR VIOLET */

.benefit {
    background-color: var(--maincolor);
    padding: 30px 0;
}

.benefit > h3 {
    color: white;
    font-size: 1.5rem;
    text-align: center;
}
.benefit .row .col {
    padding: 10px 20px 40px 20px;
    text-align: start;
    background-color: white;
    
}

.benefit .row .col > * {
    padding: 10px 0;
}

.benefit .row .col h2, .benefit .row .col h3 {
    color: var(--maincolor);
    font-size: 1.5rem;
}

.benefit .row .col a {
    background-color: var(--maincolor);
    padding: 5px 15px;
    border-radius: 20px;
    
}


/* FIFTH SECTION, ABOUT US */

.about {
    margin: 20px 0;
}

.about div {
    /* border: none; */
    padding: 25px 0;
}

.about .card-a > * , .about .card-b > * {
    padding: 15px 0;
}

.about h2 {
    color: var(--maincolor);
    margin: 25px 0;
}

.about .card-a {
    width: 100%;
    margin-bottom: 20px;
    /* debug */
    /* border: 1px solid black; */
}

.about .card-b {
    width: 100%;
    /* debug */
    /* border: 1px solid black; */
}

.about .card-b a {
    background-color: var(--maincolor);
    border-radius: 20px;
    padding: 10px 20px;
}

.about .card-b .white-boy {
    position: relative;
}

.about .card-b .white-boy img{
    border-radius: 50%;
}
.about .card-b .white-boy i {
    font-size: 5rem;
    color: var(--maincolor);
    position: absolute;
    right: 0;
    top: 15px;
}

/* SIXTH SECTION, TRY FREE */

.try {
    background-color: var(--maincolor);
    padding: 20px 0;
}

.try .last > *{
    text-align: center;
    margin: 30px 0;    
    /* debug */
    /* border: 1px solid orange; */
}

.try .last h3, .try .last h2, .try .last p, .try .last h4 {
    color: white;
}

.try .last h3 {
    font-size: .8rem;
}

.try .last h2 {
    font-size: x-large;
}

.try .last h1 {
    color: var(--freecolor);
    font-size: 3rem;
}

.try .last > a {
    display: block;
    padding: 20px 30px;
    color: var(--maincolor);
    background-color: white;
    width: 50%;
    margin: 0 auto;
    border-radius: 30px;
}

.try .last h4 > a {
    text-decoration: underline;
}



/* FOOTER  */

footer {
    background-color: var(--footercolor);
    width: 100%;
    height: 150px;
    padding: 5px 0;
    text-align: center;
    /* margin: 10px 0; */
    /* padding: 10px 0; */
}

footer .top-footer,
footer .bot-footer {
   margin: 20px 0;   
    
}

footer a {
    color: var(--maincolor);
}



/* ###################################################################################### */

/* RESPONSIVE FOR DISPLAY >= 768px */

@media screen and (min-width:768px) {

       /* FIRST SECTION */

    .row .big-col {
        width: calc((100% / 3 * 2) - 5px);
        align-items: flex-start;
    }

    .big-col .phone {
        display: block;
    }
    .row .second-col{
        width: calc(100% / 3 - 5px);
        
    }

    .row div {
        width: calc(100% / 3 - 7px);
        
    }


    .row {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        padding-right: 0;
    }

    .row .description {
        width: 100%;
        text-align: left;
        padding-left: 20px;
    }

    .col .phone {
        width: 40%;
        
    }

    

    /* SECOND SECTION */

    .planning .card-a,
    .planning .card-b {
        margin: 0 auto;
        width: 70%;
    }


    /* THIRD SECTION */

    .testimonial #head-testimonial {
        font-size: 1.2rem;
    }

    .testimonial #head-testimonial h3{
        font-size: 1.6rem;
    }

    .testimonial .partners {
        /* width: 100%; */
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 40px;
        /* debug */
        /* height: 200px; */
        /* border: 1px solid blue; */
        /* margin: 30px 0; */
    }

    .testimonial .testimon {
        width: 74%;
    }
    

            /* FOURTH SECTION */
    
    .benefit .col {
        width: calc(100% / 2 - 10px);
    }

    .benefit > h3 {
        font-size: 2rem;
    }

    .benefit .row {
        display: flex;
        flex-wrap: wrap;
    
    }

    .benefit .row .col h2 {
        font-size: 3rem;
    }

            /* FIFTH SECTION, ABOUT US */

    .about .main-container {
        display: flex;
        gap: 85px;
        align-items: flex-start;
    }

    .about .card-a {
        font-size: 1.5rem;
    }

    .about .card-b {
        width: 60%;
    }

    .about .card-a h2 {
        font-size: 2.8rem;
    }
    .about .card-b h2 {
        font-size: 1.2rem;
    }

            /* SIXTH SECTION, TRY FREE */
        
    .try .last {
        width: 80%;
        margin: 0 auto;
    }

    .try .last h4 > a {
        width: 80%;
        
    }

    

            /* FOOTER SECTION */
     
    footer .bot-container {
        width: 60%;
    }        

}


/* ###################################################################################### */



/* RESPONSIVE FOR DISPLAY >= 992px  */

@media screen and (min-width:992px) {

    /* HEADER */
    header .menu {
        display: none;
    }

    header .long-menu {
        display: inline-block;
    }

    .long-menu li {
        display: inline-block;
        margin-left: 20px;
    }

    .long-menu #start {
        color: black;
        padding: .5em 1em;
        background-color: white;
        border-radius: 4em / 4em;
    }


    /* FIRST SECTION CARDS */


    .row .big-col {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        
    }
    
    
    .big-col .description {
        max-width: 50%;
    }

    .big-col .phone {
        max-width: 50%;
    }

    /* SECOND SECTION,BACKGROUND VIOLET  */

    .planning .main-container {
        display: flex;
        gap: 20px;
    }

    .planning .card-b {
        margin-top: 130px;
    }



    /* FOURTH SECTION  */

    .benefit .col {
        width: calc(100% / 3 - 10px);
    }

    .benefit > h3 {
        font-size: 2.5rem;
    }

    /* FIFTH SECTION, TRY FREE */

    .about .card-a h2 {
        font-size: 3.4rem;
    }

    /* SIXTH SECTION, TRY FREE */
        
    .try .last {
        width: 50%;
        margin: 0 auto;
    }


    .try .last h1 {
        font-size: 3.5rem;
    }

    .try .last h4 > a {
        width: 85%;
    }

    
    footer .bot-container {
        width: 70%;
        
    }
}



/* ########################################################################################### */


/* RESPONSIVE FOR DISPLAY >= 1200px  */

@media screen and (min-width:1200px) {

    .main-container {
        max-width: 1200px;
    }

    .bot-container {
        max-width: 70%;
    }
}
